<div class="container">
  <h1>The Plan</h1>
  <h3>Trip Details</h3>
    <p><%= @trip.title %></p>
    <p><%= @trip.description %></p>
    <p><%= @trip.start_date %></p>
    <p><%= @trip.end_date %></p>

  <h4>Trip Participants</h4>

  <h4>Gear List</h4>

</div>
