<div class="container">
  <h1>Weekend Warrior</h1>
  <h3>Select a National Park. Find a campground. Create a trip. Invite friends. Plan it out. Adventure!</h3>

  <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "waves-effect waves-light btn-large blue" %>
</div>
